@import url('https://fonts.cdnfonts.com/css/futura-pt');
@import url('https://fonts.cdnfonts.com/css/zen-loop');
@import url('https://fonts.cdnfonts.com/css/adobe-caslon-pro');

@import url("hover-min.css");

/*----------------------------Headers and fonts-----------------------------*/


body {
    font-family: 'adobe-caslon-pro', sans-serif;
    color: #2a2623;
    background-color: #fcf9ef;
}

h1 {
    letter-spacing: 2px;
    line-height: 45px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'futura-pt';
    text-transform: uppercase;

}

.center-text {
    text-align: center;
}

p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}

/*----------------------------Nav bar-----------------------------*/
.navbar-container {
    height: 12vh;
    font-family: 'futura-pt', sans-serif;
    color: #2a2623;
    background-color: #fcf9ef;

}

.navbar {
    --bs-navbar-padding-y: 0;
}

.navbar-brand {
    --bs-navbar-brand-font-size: 3.5rem;
    font-family: 'zen-loop', sans-serif;
    font-weight: 200;
    color: #2a2623;
}

.nav-item {
    padding: 1vw;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #2a2623;

}

.nav-item:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.reserve-button {
    border: 1px solid black;
    border-radius: 0;
    --bs-btn-padding-x: 1.5rem;
    padding: 1vw;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #2a2623;
    --bs-btn-hover-border-color: #2a2623;

}

.hvr-sweep-to-top::before {
    background: #e1e000 !important;
    /* Use of !important to overide default animation color*/
}

.hvr-sweep-to-top:hover {
    color: #2a2623 !important;
}

.nav-link.active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/*----------------------------Carousel-----------------------------*/

img,
svg {
    object-fit: cover;
    height: 88vh;
}

.carousel-indicators [data-bs-target] {
    width: 85px;
    background: #e1e000;
    padding: 0;
    border: 15px;
    margin: 15px;
}

/*----------------------------Home page description-----------------------------*/

.oxbo-description-container {
    padding-top: 35px;

}

.reserve-button-oxbo-description {
    margin-top: 5vh;

}

/*----------------------------Zebra image-----------------------------*/


.zebra-image {
    margin: 50px 0 50px 0;
}

/*----------------------------Passion for food-----------------------------*/

.passion-for-food-container {
    margin: 35px 0 35px 0;
}

.bg-image-01 {
    background-image: url(/assets/images/oxbo-background1.jpeg);
    background-position: center top -65.04px;
    height: 88vh;
    width: 100%;
    padding-bottom: 5vh;
}

.passion-card {
    border-radius: 0;
    border: 5px solid #e1e000;
    top: 120px;

}

.passion-card-body {
    padding: 50px;

}
/*-----------------------------What's on ---------------------------*/
.whats-on-container{
    padding: 35px 0 35px 0;
}

/*-----------------------------Ad cards ---------------------------*/

.ad-cards{
   
    margin: 1rem;
    --bs-card-border-color: 0;
    --bs-card-bg: 0;
}

.ad-card-body{
    background-color: #2a2623;
    color: #fcf9ef;
}

.ad-card-hr{
    color: #e1e000;
    border-width: 2px;
}
/*------------------------------Media query---------------------------*/

@media (min-width: 960px) {
    .passion-card {
        top: 180px;
        left: 50px;
    }
}

